<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script

  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/styles.css">
     {% block  head%}
     {% endblock head%}

</head>
<body>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACabi2174CB4th6-8LRXew0MrV1GibXy0&libraries=places"></script>

     {% block content %} 

     {% endblock content%}
</body>
</html>