{% extends 'base.html' %}

{%block head%}
  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
        width: 100%;

      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

{%endblock head%}





{%block content%}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACabi2174CB4th6-8LRXew0MrV1GibXy0&callback=codeAddress"
    async defer></script>

<h1 class='header'> {{event.title}} </h1>

<div>{{event.description}}</div>
<div id="map"></div> 


    <script>
            function codeAddress(address) {
                geocoder = new google.maps.Geocoder();
                geocoder.geocode({
                    'address': '{{event.location}}'
                }, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var myOptions = {
                            zoom: 15,
                            center: results[0].geometry.location,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        }
                        map = new google.maps.Map(document.getElementById("map"), myOptions);

                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                    }
                });
            }
    </script>   

{%endblock content%}  

