{% extends 'base.html' %}

{%block head%}
<title> Homepage</title>
{%endblock head%} 

{%block content%}

 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACabi2174CB4th6-8LRXew0MrV1GibXy0&libraries=places"></script>

<h2>Events</h2>

<button class="" id = "start-event-btn"> 
    Start a event
</button>


{% for event in events %}
<div>
    <img class="card-img-top" style="width: 287px;" src={{image_urls[event.sport_id]}} alt="Card image cap">

    <!-- event title that will redirect to event page -->
   
<div class="card" style="width: 18rem;">
            <div class="card-body">
                 <a href='/event_detail?eventId={{event.event_id}}'>
                    <h5 class="event-title"> {{event.title}}</h5>
                </a>
                <p class="event-des"> Detail: {{event.description}}</p>
            </div>


            <ul class="list-group list-group-flush">
                <li class="list-group-item">Location: {{event.location}}</li>
                <li class="list-group-item">Date: {{event.date}} Time: {{event.time}} </li>
            </ul>
        <div class="card-body" id="{{event.event_id}}">
            {% if event.event_id in joined_events%}
                <a href="/unjoin?eventId={{event.event_id}}" class="unjoin">Unjoin </a>
            {% else %}
                <a href="/join?eventId={{event.event_id}}" class="join">Join </a>
            {% endif %}


            {%if event.user_id == session['user']%}

                <a href="/" class="delete">Delete</a>
            {% endif %}          

        </div>

</div>

{%endfor%}


<div id = "save-event-popup" style = "display: none">
    <div class = "popup-content">

        <form action= "/event" id = "prevent-form-submission-form" 
        method= "GET">
        Sport
        <select name ="sport">
            {%for sport in sports%}
            <option value ="{{sport.sport_id}}">{{sport.sport_name}}</option>
            {%endfor%}
        </select>

        <br>
        Title
        <input type= "text" name= "title"/>
        <br>
        Description
        <input type= "text" name="des"/>
        <br>
        Location
        <input id = "location" type= "text" name="location"/>
        <br>
        Date 
        <input type = "text" name="start_date"/>

        Time
        <input type = "text" name="end_date"/>

        <input type="submit" value="Create" />

        </form>
    </div>
</div>



<script>


        //autocompletes location while creating an event.
        const locationElem = document.getElementById('location');
        const autocomplete = new google.maps.places.Autocomplete(locationElem);

        //prevents the default autmatic exit at the pop up form of creating event.
        let stalledForm = document.querySelector("#prevent-form-submission-form");

        stalledForm.addEventListener("click", function (evt) {
        //it is stoping the event form to look for a click handler outside of its container
        evt.stopPropagation();
        
        });



    //after clicking on starting event button and making the pop up form appear.
    $("#start-event-btn").on('click', ()=>{
        console.log("it is working!")
        $("#save-event-popup").show()
    })

    //exit out of popup once it clicks exit or outside of the form.(Gray area)
    $("#save-event-popup").on('click', ()=>{
        console.log("Submit btn hit")
        $("#save-event-popup").hide()
    })

    $(".delete").on('click', (event)=>{
        var currentEventId = event.target.parentNode.id;
        console.log(currentEventId)
        // ajax gets a key value par. data cant take just a variable.
        $.ajax({
            url: '/delete_event',  
            data: {currentEventId: currentEventId},
            success: function(result){
                alert(" delete event id went to the server");
            }
        });
        console.log("action button thing for delete is working")
    })



    // $(".join").on('click', (event)=>{
    //     var currentEventId = event.target.parentNode.id;
    //     console.log(currentEventId)
    //     // ajax gets a key value par. data cant take just a variable.
    //     $.ajax({
    //         url: '/event-detail',  
    //         data: {currentEventId: currentEventId},
    //         success: function(result){
    //             alert("You have Joined this event");
    //         }
    //     });
    //     console.log("action button thing for join is working")
    // })
</script>

{%endblock content%}   

