{% extends 'base.html' %}

{%block head%}
<title> Homepage</title>
{%endblock head%} 

{%block content%}

    <h2>Events</h2>

       <button class="" id = "start-event-btn"> 
        Start a event
      </button>

        {% for event in events %}
            <a href='/{{event.event_id}}'>
<div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://m.media-amazon.com/images/S/aplus-media/vc/7895a621-9359-412d-92d2-94c15adc4c70.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> {{event.title}}</h5>
            </a>
                <p class="card-text"> Detail: {{event.description}}</p>
            </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Location: {{event.location}}</li>
        <li class="list-group-item">Time: {{event.start_date}} to {{event.end_date}}</li>
      </ul>
      <div class="card-body" id="{{event.event_id}}">
        <a href="/" class="join">Join </a>
        <a href="/"class="delete">Delete</a>
      </div>

        {%endfor%}

    </ul>
    </div>
</div>


<div id = "save-event-popup" style = "display: none">
    <div class = "popup-content">

        <form action= "/event" id = "prevent-form-submission-form" 
        method= "GET">
        Sport
        <select name ="sport">
            {%for sport in sports%}
            <option value ="{{sport.sport_id}}">{{sport.sport_name}}</option>
            {%endfor%}
        </select>

        <br>
        Title
        <input type= "text" name= "title">
        <br>
        Description
        <input type= "text" name="des">
        <br>
        Location
        <input type= "text" name="location">
    
        <br>
        Start Date - End Date
        <input type= "text" name="start_date">
        <input type = "text" name="end_date">


        <input type="submit" value="Create">

    </form>

    </div>

</div>

<script>

    //prevents the default autmatic exit at the pop up form of creating event.
    let stalledForm = document.querySelector("#prevent-form-submission-form");

    stalledForm.addEventListener("click", function (evt) {
    //it is stoping the event form to look for a click handler outside of its container
    evt.stopPropagation();
    
    });

    //after clicking on starting event button and making the pop up form appear.
    $("#start-event-btn").on('click', ()=>{
        console.log("it is working!")
        $("#save-event-popup").show()
    })

    //exit out of popup once it clicks exit or outside of the form.(Gray area)
    $("#save-event-popup").on('click', ()=>{
        console.log("Submit btn hit")
         $("#save-event-popup").hide()
    })

    $(".delete").on('click', (event)=>{
        var currentEventId = event.target.parentNode.id;
        console.log(currentEventId)
        // ajax gets a key value par. data cant take just a variable.
        $.ajax({
            url: '/delete_event',  
            data: {currentEventId: currentEventId},
            success: function(result){
            alert(" delete event id went to the server");
    }
});
        console.log("action button thing for delete is working")
        // send id using ajax to the server.py


        // when in server use that id to delete the event.

    })
</script>

 {%endblock content%}   

