{% extends 'base.html' %}

{%block head%}
<title> Homepage</title>
{%endblock head%} 

{%block content%}
<!-- <div class = 'event-div'>
    

    {%for event in fake_events%}
    <br>
    <h3> {{fake_events[event]['title']}}</h3>
    <h3> {{fake_events[event]['sport']}}</h3>
    <h2> {{fake_events[event]['level']}}</h2>
    <h2> {{fake_events[event]['location']}}</h2>
    <h3> {{fake_events[event]['time']}}</h3>
    <br>

    {%endfor%} -->

<!-- </div> -->
    <h2>Events</h2>

    <ul>
        {% for event in events %}
        <li>
            <a href='//{{events.event_id}}'>
                {{events[event]['title']}}
                {{events[event]['description']}}
                {{events[event]['location']}}
                {{events[event]['start_date']}}
                {{events[event]['end_date']}}
               <!--  {{events[event]['user_id']}}
                {{events[event]['sport_id']}} -->
                <!-- similar to ratings, user_list templete -->

        </li>


    </ul>


 {%endblock content%}   

