{% extends 'base.html' %}

{%block content%}


{% for message in get_flashed_messages() %}
{{message}}
{%endfor%}


<div class="fullscreen-bg">
    <video loop muted autoplay poster="static/images/Fifa.jpg" class="fullscreen-bg__video">
        <source src="static/images/Fifa.mp4" type="video/mp4">
        <source src="static/images/Basketball.mp4" type="video/mp4">    
    </video>
</div>
<div>
    <form role="search" action="/search" accept-charset="UTF-8" >
        <div class="form-group" style="width: 450px; left:33%; position:absolute; top:40%">
            <input type="text" class="form-control" placeholder="Search for events near you..." name="searchKeyword" style="height:50px;">
        </div>
    </form>
</div>
<script>
    $("#navSearchBar").hide();
</script>

{%endblock content%}   

