{% extends 'base.html' %}

{%block content%}


{% for message in get_flashed_messages() %}
{{message}}
{%endfor%}


<div class="fullscreen-bg">
    <video loop muted autoplay poster="static/images/Fifa.jpg" class="fullscreen-bg__video">
        <source src="static/images/Fifa.mp4" type="video/mp4">
        <source src="static/images/Basketball.mp4" type="video/mp4">    
    </video>
    <div><
</div>

<!-- <h2> Login</h2>
<form action= "/login" method= "POST">
    Email
    <input type= "text" name= "email">
    Password
    <input type= "password" name="password">
    <input type="submit" name="submit" value="Log in">

</form>

<a href="/register" >
    <input type ="submit" name="signup" value="Sign Up ">
    </a>
 -->

{%endblock content%}   

