
{% extends 'base.html' %}

{% block content %}
    
<body background="/static/images/background1.jpg">


  
<form action="/signup" method="POST" class ="signup-form">
    <h2> Sign Up </h2>
    <div>
        <label> <div> Email </div><input type="text" name="email" id="email"></label>
    </div>
    <div>
        <label> <div>Password </div><input type="text" name="password" id="password"></label>
    </div>
    <div>
        <label> <div>First Name </div><input type="text" name="fname" id="fname"></label>
    </div>
    <div>
        <label> <div>Last Name </div><input type="text" name="lname" id="lname"></label>
    </div>
    <div> 
        <label> <div>Bio </div><input type="text" name="bio" id="bio"></label>
    </div>

    <div>
        <label> <div>photo Url</div> <input type="text" name="photo" id="photo"></label>
    </div>
    <br>

    <div>
        <input type="submit" value="Submit">
    </div>

</form>
<script>
    
</script>















{% endblock %}